@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu',sans-serif;
}

h1 {
    font-size: 2rem;
}

h1,
h2,
h3 {
    font-weight: 300;
}

footer {
    text-align: center;
    margin: 0;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: .8em;
    margin: .5em;
    border: 3px solid transparent;
}

.country-btn {
    color: black;
    border: 1px solid black;
    font-size: 1em;
}

.active {
    border-bottom: 3px solid aqua;
}

.navbar {
    text-align: center;
    background-color: rgb(20, 24, 23);
    color: white;
    padding: 1em;
}

.container {
    width: clamp(200px, 100%, 1000px);
    margin: auto;
}

.nav-title {
    position: relative;
}

.nav-title::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 15%;
    background-color: rgb(64, 116, 161);
    margin: auto;
    left: 0;
    right: 0;
    bottom: -5px;
}

.loading-wrapper {
    display: grid;
    place-content: center;
}

.small {
    min-height: 200px;
}

.big {
    min-height: 400px;
}

.loading-cont {
    width: 80px;
}

.loading {
    border-radius: 1px;
    height: 3px;
    background-color: rgb(64, 116, 161);
    animation: load 3s ease-in-out infinite;
}

@keyframes load {
    0%{
        width: 0%;
        margin-right: auto;
    }
    
    25%{
        width: 100%;
    }
    
    50%{
        width: 0%;
        margin-right: 0;
        margin-left: auto;
    }
    
    75% {
        width: 100%;
    }
    
    100%{
        width: 0%;
    }
}