* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-box {
    border: 1px solid;
}

.game-object {
    font-size: clamp(1rem, 5vw, 2rem);
    padding: 1em 2em;
    background-color: blue;
    border: 3px solid;
}