.input-wrapper {
    height: clamp(300px, 80vh, 500px);
    display: grid;
    place-content: center;
    background-color: rgb(10, 10, 20);
    color: #fff;
    margin: .5em;
}

form {
    width: 30vw;
}

input[type='text'] {
    display: block;
    font-size: 1.5rem;
    padding: .5em;
    background-color: rgb(230, 230, 180);
    border-radius: 10px;
    width: 100%;
}

button {
    display: block;
    font-size: 1rem;
    padding: .5em;
    margin: .4em;
    background-color: transparent;
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
}

label {
    font-size: 1.5em;
}

.white-border {
    border-color: white;
    margin: 1em auto;
    color: white;
}